* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: flex;
  justify-content:space-evenly;
}

.listContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.listContainer li {
  list-style-type: none;
}

.listContainer a{
	display: inline-block;
	padding: 25px;
	margin: 0 25px;
	text-align: center;
	text-decoration: none;
	color: black;
  font-family: 'Markazi Text', sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
}

.Header img {
  width: 10%;
  height: auto;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: left;
  background-color: #EE9972;
}

.footerColumn {
  grid-row: span 1;
  grid-column: span 1;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footerImage {
  margin-top: 5%;
  margin-left: 5%;
}

.footerListContainer {
  list-style-type: none;
  font-family: 'Karla', sans-serif;
  color: #EDEFEE;
  font-size: 1vw;
}

.footerListContainer a {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  color: #EDEFEE;
  font-size: 1vw;
}

.footerListHeader {
  font-family: 'Karla', sans-serif;
  color: #EDEFEE;
  font-size: 1.3vw;
  font-weight: bold;
  margin-bottom: 2%;
}

.heroImage {
  height: auto;
  width: 25%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 35%;
  border-radius: 16px;
}

.heroSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #495E57;
}

.heroSectionColumn {
  grid-row: span 1;
  grid-column: span 1;
}

.heroSectionHeaderMain {
  color: #F4CE14;
  font-size: 3vw;
  font-family: 'Markazi Text', sans-serif;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.heroSectionSubHeader {
  font-size: 1.5vw;
  font-family: 'Markazi Text', sans-serif;
  color: #EDEFEE;
  margin-left: 5%;
}

.heroSectionDescription {
  color: #EDEFEE;
  margin-top: 3%;
  margin-left: 5%;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  font-size: 1.3vw;
}

.specialsTopFlex {
  display: flex;
  justify-content: space-around;
}

.specialsHeader {
  font-family: 'Markazi Text', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  margin-top: 3%;
}

.specialsButton {
  margin-top: 3%;
}

.specialsCards {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  padding-bottom: 3%;
  flex-wrap: wrap;
}

.specialsCard {
  width: 25%;
  border-radius: 16px;
  box-shadow: 0px 2px 4px black;
  background-color: #EDEFEE;
}

.specialsCardPrice {
  font-family: 'Markazi Text', sans-serif;
  color: #EE9972;
  font-size: 1.5vw;
}

.specialsCardHeader {
  font-family: 'Markazi Text', sans-serif;
  font-size: 1.5vw;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}

.specialsCardHeadingPrice {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.specialsImage {
  width: 100%;
  height: 275px;
  border-radius: 16px;
}

.specialsCardDescription {
  font-family: 'Karla', sans-serif;
  font-size: 1vw;
  color: #333333;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.specialsCardButton {
  margin-left: 22%;
  margin-bottom: 3%;
}

.testimonialsHeader {
  text-align: center;
  font-family: 'Markazi Text', sans-serif;
  font-size: 3vw;
  color:#F4CE14;
  padding-top: 3%;
}

.testimonialsContainer {
  background-color: #495E57;
}

.testimonialsCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 3%;
  padding-bottom: 3%;
}

.testimonialsCard {
  font-family: 'Karla', sans-serif;
  font-size: 1.3vw;
  background-color: #EDEFEE;
  color: #333333;
  width: 20%;
  height: auto;
  padding: 20px;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.aboutHeader {
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 3%;
  font-family: 'Markazi Text', sans-serif;
  font-size: 3vw;
}

.aboutSubHeader {
  font-family: 'Markazi Text', sans-serif;
  margin-left: 5%;
  font-size: 1.5vw;
}

.aboutDescription {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  font-size: 1.3vw;
}

.aboutColumn {
  grid-row: span 1;
  grid-column: span 1;
}

.aboutImage {
  height: auto;
  width:40%;
  margin: 3%;
  border-radius: 16px;
}

.button {
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
  padding: 15px;
  border-radius: 20px;
  border-color: #F4CE14;
  color: #333333;
}

.heroButton {
  margin-left: 5%;
  margin-top: 3%;
}

a:hover {
  text-shadow:0px 0px 1px;
}

.button:hover {
  box-shadow: 0px 0px 5px black;
}